<footer class="site-footer h-card">
 <div class="wrapper">
      <div class="footer-col-wrapper">
         <div class="footer-col footer-col-1">
               contact me: 
               <a href="mailto:aricolfi@sissa.it">aricolfi@sissa.it</a>
               <br> <br>
SISSA<br>
Via Bonomea 265, 34136 Trieste<br>
Office A-710<br>
Tel: +39 040 3787 855

        </div>
       
           <div class="footer-col footer-col-1">
           <img src="/MATHS/sissa.jpeg" width="85%">
           </div>
       
           <div class="footer-col footer-col-1">
          Find me on <br> <br>
<img src="/MATHS/icon-github.svg" width="27px" height="27px"><a href="https://github.com/aricolfi">Github</a> <br>
<img src="/MATHS/icon-orcid.svg" width="22px" height="22px">&nbsp<a href="https://orcid.org/0000-0002-8172-2026">Orcid</a> <br>
<img src="/MATHS/icon-scholar.svg" width="25px" height="25px"><a href="https://scholar.google.com/citations?user=bGunzxQAAAAJ&hl=en">Google Scholar</a>
          </div>
      </div>
  </div>
</footer>
