<footer>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        you can reach me at:
        <br>
        &nbsp;&nbsp;<a href="mailto:{{ aricolfi@sissa.it }}">{{ aricolfi@sissa.it }}</a>
        <br><br>
        Address:
        <address>
          &nbsp;&nbsp;SISSA<br>
          &nbsp;&nbsp;Geometry and Mathematical Physics<br>
          &nbsp;&nbsp;Via Bonomea 265, 34136 Trieste (Italy)<br>
          &nbsp;&nbsp;Office A-710<br>
          &nbsp;&nbsp;Tel: +39 040 3787 855
        </address>
      </div>
      
           <div class="footer-col footer-col-1">
          <img src="/MATHS/sissa.jpeg" width="65%">   
           </div>
     
    </div>
  </div>
</footer>
