<footer class="site-footer h-card">
 <div class="wrapper">
      <div class="footer-col-wrapper">
         <div class="footer-col footer-col-1">
               contact me: 
               <a href="mailto:aricolfi@sissa.it">aricolfi@sissa.it</a>
               <br> <br>
SISSA<br>
Via Bonomea 265, 34136 Trieste<br>
Office A-710<br>
Tel: +39 040 3787 855

        </div>
       
           <div class="footer-col footer-col-1">
 &nbsp&nbsp&nbsp&nbsp           <a href="https://www.math.sissa.it/users/andrea-tobia-ricolfi">Professional Webpage</a>
            <br>
           <img src="/MATHS/sissa.jpeg" width="85%">
           </div>
       
           <div class="footer-col footer-col-1">
          Find me on <br> <br>
<img src="/MATHS/icon-github.svg" width="26px" height="27px"><a href="https://github.com/aricolfi">&thinsp;Github</a> <br>
&thinsp;<img src="/MATHS/icon-orcid.svg" width="22px" height="22px">&nbsp<a href="https://orcid.org/0000-0002-8172-2026">Orcid</a> <br>
<img src="/MATHS/icon-scholar.svg" width="25px" height="25px"><a href="https://scholar.google.com/citations?user=bGunzxQAAAAJ&hl=en">&thinsp;Google Scholar</a><br>
<img src="/MATHS/arxiv.png" width="25px" height="25px"><a href="https://arxiv.org/search/?query=andrea+ricolfi&searchtype=all&source=header">&thinsp;Preprints</a>
            
          </div>
      </div>
  </div>

  You’ll write your one story many ways. Don’t ever worry about story. You have only one.
                                                        
</footer>
